---
layout: default
---

{% include home-header.html %}

<style>
    .box {
        border: 2px solid black;
        padding: 10px;
        width: 860px;
    }
</style>

<p>I am currently a senior scientist at Centre for Frontier AI Research (CFAR), Agency for Science, Technology and Research (A*STAR) Singapore. I completed my Ph.D. degree in Computer Science in Mar 2020 from University of Technology Sydney (UTS), Australia. I am fortunate to be supervised by Prof. Ivor Tsang during my PhD study.</p>
</p>
<p>My research interests include (Non)parametric Clustering, Generative AI, AI for Science & Healthcare.</p>

<div class="box">
  <b>Internship opportunity for self-motivated students passionate about:</b>  
  <ul> 
      <li> AI for Drug Discovery and RNA 3D structure predication and evaluation. </li>
      <li> Bio-foundation model and AI powered next-gen enzyme engineering. </li> 
      <li> Multi-Modal LLM and Model fine-tuning. </li>
  </ul>
</div>
<p>For self-funded visiting students (e.g., CSC program from China), additional top-up is provided for those who contribute to our project.</p>


<h2>Recent News:</h2>
<ul>
    <li> Dec 2024,  We have one paper accepted by AAAI 2025. Congratulations to Pei. </li>
  
    <li> Nov 2024,  We have one paper accepted by Information Fusion. Congratulations to Xingfeng. </li>
  
    <li> Nov 2024,  We have one paper accepted by IEEE Transactions on Artificial Intelligence. Congratulations to Dr. Yao. </li>

    <li> Aug 2024,  We have one paper accepted by IEEE Transactions on Multimedia. Congratulations to Xingfeng. </li>
  
    <li> Jul 2024, Our paper "PROUD: PaRetO-gUided Diffusion Model for Multi-objective Generation" has been selected for the Best Poster Award (5/78) at <a href="https://ai4science.sg/ai4sci%2Fntci-conf"> AI for Science and Nobel Turing Challenge Initiative (AI4Sci/NTCI) Conference</a> in Singapore. Thanks to award committees. </li>
  
    <li> Jun 2024, I was invited to serve as Senior Program Committee for AAAI 2025. </li>

    <li> May 2024,  We have one paper about Multi-Objective Generation (MOG) using diffusion model accepted by Machine Learning. Congratulations to Dr. Yao. </li>
  
    <li> May 2024, After a tough appeal and reevaluation process, I have been promoted to Senior Scientist. Dr. Pan, keep pushing forward! </li>
  
    <li> Apr 2024,  We have one paper accepted by IJCAI 2024. Congratulations to Xingfeng. </li>
  
    <li> Apr 2024,  We have one paper about <a href="https://jmlr.org/papers/v25/23-0461.html">deep generative models accepted by the Journal of Machine Learning Research (JMLR)</a>. Congratulations to Dr. Yao. Jesus, I have two JMLR now. </li>

    <li> Mar 2024,  I was invited to give a presentation about AI for Science at <a href="https://www.airc.aist.go.jp/en/info_details/en_symposium20240308.html">2024 AIST Artificial Intelligence Research Center International Symposium</a>, Tokyo, Japan. </li>
  
    <li> Jan 2024, We have one paper accepted by IEEE TKDE (IF: 8.9). Congratulations to Liang.</li>
  
    <li> Jan 2024, I was invited to serve as a meta-reviewer for  <a href="https://ieeecai.org/2024/">IEEE CAI 2024</a>. </li>

    <li> Jan 2024, We have one paper accepted by <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=4229">OHBM Annual Meeting</a>. Congratulations to Chao and the co-authors from <a href="https://cheba.unsw.edu.au/">CHeBA</a>.</li>

    <li> Jan 2024, We have one paper accepted by <a href="https://link.springer.com/journal/406">European Archives of Psychiatry and Clinical Neuroscience</a> (IF: 4.7). Congratulations to Jing and the co-authors from <a href="https://cheba.unsw.edu.au/">CHeBA</a>.</li>
    
    <li> Jan 2024, Our paper "PC-X: Profound Clustering via Slow Exemplars" has been recognized with the Best Paper Award at CPAL 2024. Congratulations to my co-authors Yinghua and Ivor, Thanks to award committees. Amazing Start to Year 2024. </li> 
  
    <li> Dec 2023, We have one paper accepted by <a href="https://www.ahajournals.org/journal/hyp">Hypertension</a> (IF: 8.3). Congratulations to Jing and the co-authors from <a href="https://cheba.unsw.edu.au/">CHeBA</a>.</li>
  
    <li> Nov 2023, We have one paper accepted by <a href="https://cpal.cc/">Conference on Parsimony and Learning (CPAL)</a>. </li>
  
<!--     <li> Oct 2023, I am granted the A*STAR GAP funding as Co-PI. Big congratulation to the team. </li> -->

    <li> Sep 2023, We have one paper accepted by Pattern Recognition (IF: 8.518). </li>
  
    <li> Sep 2023, We have one paper accepted by Machine Learning (IF: 5.414). </li>

    <li> Aug 2023, I was invited to serve as Program Committee for ICLR 2024. </li>

    <li> Aug 2023, I was invited to serve as Reviewer for AISTATS 2024. </li>
  
    <li> Aug 2023, I was invited to serve as Program Committee for NLDL 2024. </li>
  
    <li> Jun 2023, I was invited to serve as Senior Program Committee for AAAI 2024. </li>
  
    <li> May 2023, We have one paper accepted by IEEE TPAMI (IF 24.314). </li>
  
    <li> May 2023, We have one paper accepted by IEEE TNNLS (IF: 14.225). </li>
</ul>

<br />
<br />

<!-- <a href="https://info.flagcounter.com/k6BK"><img src="https://s11.flagcounter.com/map/k6BK/size_m/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/" alt="Flag Counter" border="0"></a> -->
<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5cuvjkeag2g&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=50&amp;bv=80" async="async"></script> -->
<!-- <div id="map-container" style="width: 350px; height: 350px;"> <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=_mlK1yyxia0XWU9fDV1zRTijcjj0XjzT0XSKtQPMi54"></script></div> -->
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=450&t=m&d=_mlK1yyxia0XWU9fDV1zRTijcjj0XjzT0XSKtQPMi54&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script>
