---
layout: default
---

{% include home-header.html %}


<p>I am currently a research scientist at Centre for Frontier AI Research (CFAR), Agency for Science, Technology and Research (A\*STAR) Singapore. I completed his Ph.D. degree in Computer Science in Mar 2020 from University of Technology Sydney (UTS), Australia. I am fortunate to be supervised by Prof. Ivor Tsang during my PhD study.</p>
</p>
<p>My research interests include Robust Ranking Aggregation, Deep Clustering and Deep Generative Learning.</p>

<h1>Recent News</h1>
<p> Aug 2023, I was invited to serve as PC for ICLR 2023. </p>
<p> Jun 2023, I was invited to serve as SPC for AAAI 2024. </p>
<p> May 2023, I have one paper accepted by IEEE TPAMI (IF 24.314).</p>
<p> May 2023, I have one paper accepted by TNNLS (IF: 14.225).</p>
