---
layout: default
---

{% include home-header.html %}


<p>I am currently a research scientist at Centre for Frontier AI Research (CFAR), Agency for Science, Technology and Research (A*STAR) Singapore. I completed my Ph.D. degree in Computer Science in Mar 2020 from University of Technology Sydney (UTS), Australia. I am fortunate to be supervised by Prof. Ivor Tsang during my PhD study.</p>
</p>
<p>My research interests include (Non)parametric Clustering, Generative AI, AI for Science & Healthcare.</p>

<h2>Recent News:</h2>
<ul>
    <li> Jan 2024, We have one paper accepted by <a href="https://link.springer.com/journal/406">European Archives of Psychiatry and Clinical Neuroscience</a>(IF: 4.7). Congratulations to Jing and the co-authors from <a href="https://cheba.unsw.edu.au/">CHeBA</a>.</li>
    
    <li> Jan 2024, Our paper "PC-X: Profound Clustering via Slow Exemplars" has been recognized with the Best Paper Award at CPAL 2024. Congratulations to my co-authors Yinghua and Ivor, Thanks to Award committees. Amazing Start to Year 2024. </li> 
  
    <li> Dec 2023, We have one paper accepted by <a href="https://www.ahajournals.org/journal/hyp">Hypertension</a> (IF: 8.3). Congratulations to Jing and the co-authors from <a href="https://cheba.unsw.edu.au/">CHeBA</a>.</li>
  
    <li> Nov 2023, We have one paper accepted by <a href="https://cpal.cc/">Conference on Parsimony and Learning (CPAL)</a>. </li>
  
    <li> Oct 2023, I am granted the A*STAR GAP funding (~S$1M) as Co-PI. Big congratulation to the team. </li>

    <li> Sep 2023, We have one paper accepted by Pattern Recognition (IF: 8.518). </li>
  
    <li> Sep 2023, We have one paper accepted by Machine Learning (IF: 5.414). </li>

    <li> Aug 2023, I was invited to serve as PC for ICLR 2024. </li>

    <li> Aug 2023, I was invited to serve as Reviewer for AISTATS 2024. </li>
  
    <li> Aug 2023, I was invited to serve as PC for NLDL 2024. </li>
  
    <li> Jun 2023, I was invited to serve as SPC for AAAI 2024. </li>
  
    <li> May 2023, We have one paper accepted by IEEE TPAMI (IF 24.314). </li>
  
    <li> May 2023, We have one paper accepted by TNNLS (IF: 14.225). </li>
<ul>

<br />
<br />

<a href="https://info.flagcounter.com/k6BK"><img src="https://s11.flagcounter.com/map/k6BK/size_m/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/" alt="Flag Counter" border="0"></a>
<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5cuvjkeag2g&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33&amp;bv=60" async="async"></script>
